*{
    font-family: Arial, Helvetica, sans-serif ;  
}

body{
    background-image: url(../fundos/fundoestoque.jpg);
    background-attachment: fixed;
    background-size: cover;
}

main{
    background-color: black;
    color:#EBEBEB;
    border-radius:8px;
    width: 1200px;
    padding: 20px;
    margin:auto;
}

h2{
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(66, 66, 66), rgb(78, 78, 78), rgb(46, 46, 46));
    border-radius: 8px;
    text-align: center;
}

.tamanho{
    font-size: 19px;
}

.armamento{
    background-image: linear-gradient(to top, rgb(39, 39, 39), rgb(66, 66, 66), rgb(78, 78, 78), rgb(46, 46, 46));
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
}

.cadastro{
    text-decoration: underline;
}

a:link{
    color: #EBEBEB;
}

a:visited{
    color: #EBEBEB;
}

table{
    border-collapse: collapse;
}

th{
    border: 3px solid white;
    border-collapse: collapse;
}