*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../fundos/fundovulto.jpg);
    background-attachment: fixed;
}

main{
    color: #EBEBEB;
    background-color: black;
    width: 1200px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    font-size: 19px;
}

h2{
    background-image: linear-gradient(to top, rgb(199, 147, 3), rgb(179, 168, 25), rgb(196, 193, 30), rgb(179, 168, 25), rgb(199, 147, 3));
    border-radius: 6px;
    font-size: 24px;
}

h3{
    text-decoration: underline;
}

.conteinervulto{
    display: flex;
    }
    
    .resumovulto{
        display: flex;
        width:715px; 
        height: 500px; 
    }
    
    .fotovulto{
        display: flex;
        height: 500px; 
        width:470px; 
        position: relative; 
        justify-content: center;
        overflow: hidden;
    }
    
    .fotovulto img{
        width: 470px;
        height: 500px;
    }