main{
    background-color: rgba(0, 0, 0, 0.822);
    color:#EBEBEB;
    border-radius:8px;
    width: 1200px;
    padding: 20px;
    margin:auto;
}

body{
    background-image: url(../cartas/fundoagradecimentos1.jpg);
    background-attachment: fixed;
}

*{
    font-family: Arial, Helvetica, sans-serif ;   
}

h1{
    font-size: 34px;
    text-align: center;
    text-decoration: underline;
}

h2{
    font-size: 30px;
    text-align: center;
}

p{
    font-size: 26px;
    line-height: 2px;
    text-align: center;
}

.nostyle{
    font-size: 26px;
    text-align: center;
    line-height: normal;
}

.comentario{
    font-size: 22px;
    line-height: normal;
}

.mostrar{
    position:relative;
    left:1535px;
    width: 1px;
}


.conteiner{
    text-align: center;
    display: block;
}

#comentHelo{
    display: none;
}

#comentLe{
    display: none;
}

#comentGab{
    display: none;
}

#comentNath{
    display: none;
}

#comentRafa{
    display: none;
}

#comentMel{
    display: none;
}

#comentLari{
    display: none;
}

#comentAbaca{
    display: none;
}
